@model SharkTracker.Models.PingDetail

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="lbanner"><h2>Ping Detail</h2></div>
<div class="jumbotron">

    

    <div>
        @*<h4>PingDetail</h4>*@
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PingId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PingId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PingLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PingLocation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SharkTagId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SharkTagId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PingDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PingDate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PingId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>
