@model IEnumerable<SharkTracker.Models.PingListItem>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="jumbotron">

    <h2> Ping Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @if (TempData.ContainsKey("SaveResult"))
    {<div class="alert alert-success fade in" role="alert">
            @ViewBag.SaveResult
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>}

    @*<form asp-controller="Search" asp-action="Index">
            <p>
                Title: <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>*@
    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PingLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharkTagId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PingDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PingId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PingLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SharkTagId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SharkName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PingDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PingId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PingId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PingId })
                </td>
            </tr>
        }

    </table>
    </div>
