@model IEnumerable<SharkTracker.Models.SharkListItem>

@{
    ViewBag.Title = "Index";
}






@if (TempData.ContainsKey("SaveResult"))
{<div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>}

<br />
<br />
<br />
<br />
<br />









<div class="lbanner"><h2>Shark List</h2></div>
<div class="jumbotron">
    @*<h2> Shark Index</h2>*@
    <p>
        @Html.ActionLink("Create New", "Create") &nbsp;&nbsp;

        @Html.ActionLink("Return to List", "Index")
    </p>
    <hr />
    @using (Html.BeginForm("Index", "Shark", FormMethod.Get))
    {
        //the following are search options
        @*<b> Search Option: < /b>@Html.RadioButton("option", "Name") <text>Name</text> @Html.RadioButton("option", "Gender") < text > Gender < /text>
            @Html.RadioButton("option", "Species")<text>Species</text>*@ <label>Shark Name </label> @Html.TextBox("search")
            <input type="submit"
                   name="submit"
                   value="Search" />
        }



    <table class="table">
        @*<caption>Shark List</caption>*@
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.SharkId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Species)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>

            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SharkId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SharkName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Species)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SharkId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SharkId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SharkId })
                </td>
            </tr>
        }

    </table>
</div>