@model SharkTracker.Models.TagDetail

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="jumbotron">

    <h2>Details</h2>

    <div>
        <h4>TagDetail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TagId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TagId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TagManufacturer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TagManufacturer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TagModel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TagModel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TagSerialNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TagSerialNumber)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TagId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>
